In [1]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt
import seaborn as sns
plt.style.use('seaborn')

%matplotlib inline

In [2]:
df = pd.read_excel('Percentage Calculator.xlsx')
df.shape

(49, 10)

In [3]:
df

,Name,Physics,Chemistry,Mathematics,Biology,Computer Science,English,Total,Marks,Percentage
0,Alex,45,64,98,88,69,65,600,429,71.500000
1,Max,66,65,95,86,89,86,600,487,81.166667
2,John,78,39,96,81,97,87,600,478,79.666667
3,Jack,90,78,94,84,94,81,600,521,86.833333
4,Jim,42,87,94,83,64,83,600,453,75.500000
5,Lukas,51,84,91,81,52,84,600,443,73.833333
6,Conor,61,81,93,89,63,86,600,473,78.833333
7,Bob,36,77,88,75,64,87,600,427,71.166667
8,Scarlett,46,76,89,77,94,82,600,464,77.333333
9,Brock,46,72,92,76,63,84,600,433,72.166667
10,kevin,55,77,91,65,74,88,600,450,75.000000
11,Jerry,88,40,93,99,54,90,600,464,77.333333
12,Tom,87,45,96,89,51,91,600,459,76.500000
13,Jon,77,46,98,99,52,88,600,460,76.666667
14,Andres,75,42,94,98,54,78,600,441,73.500000
15,Jenny,57,43,92,68,58,85,600,403,67.166667
16,Christian,56,48,92,75,87,86,600,444,74.000000
17,Enrique,63,47,93,71,86,82,600,442,73.666667
18,Judith,66,46,98,41,99,87,600,437,72.833333
19,Isabel,64,49,88,68,47,77,600,393,65.500000
20,Justin,65,69,87,58,73,87,600,439,73.166667
21,Jeff,66,87,84,97,85,85,600,504,84.000000
22,Robert,64,88,55,75,86,84,600,452,75.333333
23,James,69,45,74,86,68,86,600,428,71.333333
24,Alexander,89,56,76,63,78,82,600,444,74.000000
25,Floyd,77,98,75,56,84,83,600,473,78.833333
26,Henry,45,69,71,84,82,98,600,449,74.833333
27,Emma,65,69,88,78,86,89,600,475,79.166667
28,Alma,66,78,96,58,98,87,600,483,80.500000
29,Ernest,62,57,92,84,89,87,600,471,78.500000
30,Bert,52,58,93,86,87,91,600,467,77.833333
31,Oliver,41,66,45,98,85,90,600,425,70.833333
32,Raymond,69,63,68,96,86,88,600,470,78.333333
33,Albert,63,53,96,99,68,87,600,466,77.666667
34,Grey,63,56,65,87,64,87,600,422,70.333333
35,Kylo,78,46,96,94,65,81,600,460,76.666667
36,Alessia,74,68,98,92,62,82,600,476,79.333333
37,Creed,75,69,97,83,63,83,600,470,78.333333
38,Zayn,72,76,94,62,67,84,600,455,75.833333
39,Apollo,68,75,91,75,96,86,600,491,81.833333
40,Michael,63,78,93,96,68,85,600,483,80.500000
41,Kye,45,74,98,84,64,87,600,452,75.333333
42,Davis,56,45,99,81,67,81,600,429,71.500000
43,Kim,65,69,97,82,61,90,600,464,77.333333
44,Taylor,62,68,74,83,52,98,600,437,72.833333
45,Alan,61,48,75,84,53,78,600,399,66.500000
46,Parker,40,67,76,78,54,75,600,390,65.000000
47,Anderson,49,69,66,65,57,71,600,377,62.833333
48,Cooper,50,58,59,64,58,72,600,361,60.166667

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              49 non-null     object
 1   Physics           49 non-null     int64
 2   Chemistry         49 non-null     int64
 3   Mathematics       49 non-null     int64
 4   Biology           49 non-null     int64
 5   Computer Science  49 non-null     int64
 6   English           49 non-null     int64
 7   Total             49 non-null     int64
 8   Marks             49 non-null     int64
 9   Percentage        49 non-null     float64
dtypes: float64(1), int64(8), object(1)
memory usage: 4.0+ KB

# **Top 5 students with highest marks**

In [5]:
top5 = df[['Name', 'Marks ', 'Percentage']].sort_values(by='Marks ',ascending=False).head(5)

In [6]:
top5

      Name  Marks   Percentage
3     Jack     521   86.833333
21    Jeff     504   84.000000
39  Apollo     491   81.833333
1      Max     487   81.166667
28    Alma     483   80.500000

In [11]:
#Plot
%matplotlib widget

def top5BarPlot():
    sns.barplot(data=top5, y='Name', x='Marks ',)
    plt.title("Top5 Students with highest marks")
top5BarPlot()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

# **Frequency Distribution of each subject**

In [12]:
def get_subject_hist(subject):
    fig,ax=plt.figure(),plt.axes()
    sub_hist = df[subject]
    sns.histplot(x=sub_hist,element='bars')
    plt.title(f"Frequency of {subject} subject.")
    plt.xlabel(f"{subject} marks.")

In [13]:
get_subject_hist('Physics')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [14]:
df.columns[1:-3]

Index(['Physics', 'Chemistry', 'Mathematics', 'Biology', 'Computer Science',
       'English'],
      dtype='object')

In [26]:
def subjectsPlots():
    fig, axs = plt.subplots(ncols=2, nrows=3, figsize=(10, 10))
    index = 0
    axs = axs.flatten()
    for subject in df.columns[1:-3]:
        sns.boxplot(x=df[subject], data=df, ax=axs[index])
        index += 1

In [27]:
subjectsPlots()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [28]:
def get_subject_hist1(subject):
    plt.subplots()
    sub_hist = df[subject]
    sns.histplot(x=sub_hist,element='bars')
    plt.title(f"Frequency of {subject} subject.")
    plt.xlabel(f"{subject} marks.")

In [29]:
subjects = ['Physics', 'Chemistry', 'Mathematics', 'Biology','Computer Science', 'English',]
for subject in subjects:
    get_subject_hist1(subject)
    print("\n")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

# **Subjects Marks**

In [31]:
def subMarks():
    for subject in subjects:
        plt.subplots()
        plt.plot(df[subject])
        plt.title(f"{subject} Marks")
        plt.xlabel("S.No")
        plt.ylabel("Marks")
subMarks()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

#  **Top 5 students of each subject**

In [33]:
def get_top5_subject_wise(subject):
    top5 = df[['Name',f'{subject}']].sort_values(by=f'{subject}',ascending=False).head(5)
    fig,ax=plt.subplots()
    sns.barplot(data=top5, y='Name', x=f'{subject}',)
    plt.title(f"Top5 Students of {subject} subject")
    plt.xlabel("Marks")
for subject in subjects:
    get_top5_subject_wise(subject)
    print("\n")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

# Stats

In [35]:
df.describe().drop('Total',axis=1).round(2) #Total = 600

,Physics,Chemistry,Mathematics,Biology,Computer Science,English,Marks,Percentage
count,49.00,49.00,49.00,49.00,49.00,49.00,49.00,49.00
mean,62.51,63.84,86.59,80.02,71.78,84.51,449.24,74.87
std,13.42,14.97,12.85,13.11,15.21,5.92,31.70,5.28
min,36.00,39.00,45.00,41.00,47.00,65.00,361.00,60.17
25%,52.00,48.00,76.00,75.00,61.00,82.00,433.00,72.17
50%,63.00,67.00,92.00,83.00,68.00,86.00,452.00,75.33
75%,69.00,76.00,96.00,88.00,86.00,87.00,470.00,78.33
max,90.00,98.00,99.00,99.00,99.00,98.00,521.00,86.83

# Average Marks Of Each Subject

In [36]:
def AvgMarks():
    avg_of_each_subject= df.describe().drop('Total',axis=1).loc['mean'][0:6]
    plt.subplots()
    sns.barplot(x=avg_of_each_subject,y=avg_of_each_subject.keys())
    plt.xlabel('Mean Score')
    plt.title("Average Marks of each subject")
AvgMarks()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [37]:
df.Percentage.describe()

count    49.000000
mean     74.874150
std       5.282804
min      60.166667
25%      72.166667
50%      75.333333
75%      78.333333
max      86.833333
Name: Percentage, dtype: float64

# **Giving Grades Based on Percentage**
### 1. 80 - 90 = A
### 2. 70 - 80 = B+
### 3. 60 - 70 = B
### 4. 50 - 60 = C+
### 5. 40 - 50 = D

In [44]:
percentage = df['Percentage']
grades = [None for i in range(49)] #Because we have 49 students

def set_grade(minimum,maximum,grade):
    if minimum <= maximum:
        indexes = df[(percentage >minimum) & (percentage <=maximum)].index
        for index in indexes:
            grades[index] = grade
        print(grades,"\n")
    else:
        raise ValueError("maximum should be greater than minimum")

In [45]:
set_grade(80,90,"A")
set_grade(70,80,"B+")
set_grade(60,70,"B")
set_grade(50,60,"C+")
set_grade(40,50,"C")

[None, 'A', None, 'A', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'A', None, None, None, None, None, None, 'A', None, None, None, None, None, None, None, None, None, None, 'A', 'A', None, None, None, None, None, None, None, None]

['B+', 'A', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', None, 'B+', 'B+', 'B+', None, 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'A', 'A', 'B+', 'B+', 'B+', 'B+', None, None, None, None]

['B+', 'A', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B', 'B+', 'B+', 'B+', 'B', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'A', 'A', 'B+', 'B+', 'B+', 'B+', 'B', 'B', 'B', 'B']

['B+', 'A', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B', 'B+', 'B+', 'B+', 'B', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'A', 'A', 'B+', 'B+', 'B+', 'B+', 'B', 'B', 'B', 'B']

['B+', 'A', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B', 'B+', 'B+', 'B+', 'B', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'A', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'B+', 'A', 'A', 'B+', 'B+', 'B+', 'B+', 'B', 'B', 'B', 'B']

In [46]:
df['Grade'] = grades
df

,Name,Physics,Chemistry,Mathematics,Biology,Computer Science,English,Total,Marks,Percentage,Grade
0,Alex,45,64,98,88,69,65,600,429,71.500000,B+
1,Max,66,65,95,86,89,86,600,487,81.166667,A
2,John,78,39,96,81,97,87,600,478,79.666667,B+
3,Jack,90,78,94,84,94,81,600,521,86.833333,A
4,Jim,42,87,94,83,64,83,600,453,75.500000,B+
5,Lukas,51,84,91,81,52,84,600,443,73.833333,B+
6,Conor,61,81,93,89,63,86,600,473,78.833333,B+
7,Bob,36,77,88,75,64,87,600,427,71.166667,B+
8,Scarlett,46,76,89,77,94,82,600,464,77.333333,B+
9,Brock,46,72,92,76,63,84,600,433,72.166667,B+
10,kevin,55,77,91,65,74,88,600,450,75.000000,B+
11,Jerry,88,40,93,99,54,90,600,464,77.333333,B+
12,Tom,87,45,96,89,51,91,600,459,76.500000,B+
13,Jon,77,46,98,99,52,88,600,460,76.666667,B+
14,Andres,75,42,94,98,54,78,600,441,73.500000,B+
15,Jenny,57,43,92,68,58,85,600,403,67.166667,B
16,Christian,56,48,92,75,87,86,600,444,74.000000,B+
17,Enrique,63,47,93,71,86,82,600,442,73.666667,B+
18,Judith,66,46,98,41,99,87,600,437,72.833333,B+
19,Isabel,64,49,88,68,47,77,600,393,65.500000,B
20,Justin,65,69,87,58,73,87,600,439,73.166667,B+
21,Jeff,66,87,84,97,85,85,600,504,84.000000,A
22,Robert,64,88,55,75,86,84,600,452,75.333333,B+
23,James,69,45,74,86,68,86,600,428,71.333333,B+
24,Alexander,89,56,76,63,78,82,600,444,74.000000,B+
25,Floyd,77,98,75,56,84,83,600,473,78.833333,B+
26,Henry,45,69,71,84,82,98,600,449,74.833333,B+
27,Emma,65,69,88,78,86,89,600,475,79.166667,B+
28,Alma,66,78,96,58,98,87,600,483,80.500000,A
29,Ernest,62,57,92,84,89,87,600,471,78.500000,B+
30,Bert,52,58,93,86,87,91,600,467,77.833333,B+
31,Oliver,41,66,45,98,85,90,600,425,70.833333,B+
32,Raymond,69,63,68,96,86,88,600,470,78.333333,B+
33,Albert,63,53,96,99,68,87,600,466,77.666667,B+
34,Grey,63,56,65,87,64,87,600,422,70.333333,B+
35,Kylo,78,46,96,94,65,81,600,460,76.666667,B+
36,Alessia,74,68,98,92,62,82,600,476,79.333333,B+
37,Creed,75,69,97,83,63,83,600,470,78.333333,B+
38,Zayn,72,76,94,62,67,84,600,455,75.833333,B+
39,Apollo,68,75,91,75,96,86,600,491,81.833333,A
40,Michael,63,78,93,96,68,85,600,483,80.500000,A
41,Kye,45,74,98,84,64,87,600,452,75.333333,B+
42,Davis,56,45,99,81,67,81,600,429,71.500000,B+
43,Kim,65,69,97,82,61,90,600,464,77.333333,B+
44,Taylor,62,68,74,83,52,98,600,437,72.833333,B+
45,Alan,61,48,75,84,53,78,600,399,66.500000,B
46,Parker,40,67,76,78,54,75,600,390,65.000000,B
47,Anderson,49,69,66,65,57,71,600,377,62.833333,B
48,Cooper,50,58,59,64,58,72,600,361,60.166667,B

In [48]:
def pieChart():
    plt.subplots()
    plt.style.use("fivethirtyeight")
    df['Grade'].value_counts().plot(kind='pie', autopct="%.2f",shadow=True)
    plt.title("Grades Pie Chart")

In [49]:
pieChart()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [50]:
def StylepieChart():
    plt.subplots()
    plt.style.use("fivethirtyeight")
    df['Grade'].value_counts().plot(kind='pie', autopct="%.2f",shadow=True)
    plt.title("Grades Pie Chart")
StylepieChart()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [51]:
df['Grade'].value_counts()

B+    37
B      6
A      6
Name: Grade, dtype: int64

In [52]:
df[['Name', 'Marks ','Grade']]

         Name  Marks  Grade
0        Alex     429    B+
1         Max     487     A
2        John     478    B+
3        Jack     521     A
4         Jim     453    B+
5       Lukas     443    B+
6       Conor     473    B+
7         Bob     427    B+
8    Scarlett     464    B+
9       Brock     433    B+
10      kevin     450    B+
11      Jerry     464    B+
12        Tom     459    B+
13        Jon     460    B+
14     Andres     441    B+
15      Jenny     403     B
16  Christian     444    B+
17    Enrique     442    B+
18     Judith     437    B+
19     Isabel     393     B
20     Justin     439    B+
21       Jeff     504     A
22     Robert     452    B+
23      James     428    B+
24  Alexander     444    B+
25      Floyd     473    B+
26      Henry     449    B+
27       Emma     475    B+
28       Alma     483     A
29     Ernest     471    B+
30       Bert     467    B+
31     Oliver     425    B+
32    Raymond     470    B+
33     Albert     466    B+
34       Grey     422    B+
35       Kylo     460    B+
36    Alessia     476    B+
37      Creed     470    B+
38       Zayn     455    B+
39     Apollo     491     A
40    Michael     483     A
41        Kye     452    B+
42      Davis     429    B+
43        Kim     464    B+
44     Taylor     437    B+
45       Alan     399     B
46     Parker     390     B
47   Anderson     377     B
48     Cooper     361     B